header {
    display: flex;
    align-items: center;
    flex-direction: column;
    // height: 100vh;
    padding-bottom: 50px;
    background-image: url('../../assets/hero_home_bg_1.svg');
    background-position: center;
    background-size: cover;
    /* position: relative; */
  
    nav {
      width: 100%;
    }
  
    nav a {
      font-size: x-large;
      color: #e8f2f8;
    }
  
    nav li:hover {
      background-color: #03aa978c;
      border-radius: 5px;
    }
  
    nav h2 {
      font-size: x-large;
      padding-top: 30px;
      padding-right: 30px;
    }
  
    article {
      padding-top: 70px;
      width: 100%
    }
  
    img {
      align-self: flex-start;
      margin-left: 0px;
      padding-left: 0px;
    }
  
    nav .dropdown button {
      // color: #e8f2f8;
      font-size: x-large;
    }
  
    nav .dropdown button:hover {
      background-color: #03aa978c;
      color: #e8f2f8;
    }
  
    article input {
      border: none;
      font-size: large;
      padding: 15px;
      margin: 0px;
      width: 200px;
      border-radius: 10px;
    }
    
  }