<div id="page" class="text-center">
  <article>
    <h2>Discover the missing medicine !</h2>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Deleniti iure sint temporibus necessitatibus commodi
      nemo harum repudiandae illum? Iure totam magnam iusto minima magni neque veritatis ad autem incidunt
      voluptatum.</p>
  </article>

  <div class="Find">
    <section></section>
    <h3>Search a Medicine </h3>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nulla neque numquam vel recusandae laboriosam earum</p>
  </div>
  <div class="view">
    <section></section>
    <h3> View </h3>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Cumque consequuntur soluta qui? Expedita delectus</p>
  </div>
  <div class="bdel">
    <section></section>
    <h3>Book a Medicine</h3>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis debitis laborum soluta, nam distinctio nisi</p>
  </div>
  <div class="find">
    <input type="submit" value="find a medicine">
  </div>
</div>
<!-- inf -->
<div class="inf container ">
  <div class="article row">
    <h2 class="col-sm-12">Information on Medicines?!</h2>
    <p class="col-sm-12">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum illo mollitia doloribus
      accusamus in expedita quidem ratione nihil! Dolor, aliquam voluptas? Obcaecati quisquam magnam iure, velit
      dolore porro veritatis nulla!</p>
  </div>
  <div class="row justify-content-between">
    <div class=" badel col-sm-5">
      <h3>Badel</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Numquam nisi omnis deleniti, maiores nobis
        assumenda, laborum, voluptatem totam repellat et doloremque dolores cumque ea ratione fugit dolorem. Ratione,
        natus dignissimos.</p>
    </div>
    <div class=" badel col-sm-5">
      <h3>Badel</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Numquam nisi omnis deleniti, maiores nobis
        assumenda, laborum, voluptatem totam repellat et doloremque dolores cumque ea ratione fugit dolorem. Ratione,
        natus dignissimos.</p>
    </div>
  </div>
</div>

<div #ourServices id="ourServices" class="our container-fluid">
  <div class="Services container">
    <div class="row col-sm-12">
      <h2>Our Services</h2>
    </div>
    <div class="row">
      <div class="media col-sm-12 col-md-12 col-lg-6">
        <div class="img1 d-flex mr-3"></div>
        <div class="media-body">
          <h5 class="mt-0 font-weight-bold">Media heading</h5>
          Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus
          odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate
          fringilla. Donec lacinia congue felis in faucibus.
        </div>
      </div>
      <div class="media col-sm-12 col-md-12 col-lg-6">
        <div class="img2 d-flex mr-3"></div>
        <div class="media-body">
          <h5 class="mt-0 font-weight-bold">Media heading</h5>
          Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus
          odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate
          fringilla. Donec lacinia congue felis in faucibus.
        </div>
      </div>
    </div>
    <div class="row">
      <div class="media col-sm-12 col-md-12 col-lg-6">
        <div class="img3 d-flex mr-3"></div>
        <div class="media-body">
          <h5 class="mt-0 font-weight-bold">Media heading</h5>
          Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus
          odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate
          fringilla. Donec lacinia congue felis in faucibus.
        </div>
      </div>
      <div class="media col-sm-12 col-md-12 col-lg-6">
        <div class="img4 d-flex mr-3"></div>
        <div class="media-body">
          <h5 class="mt-0 font-weight-bold">Media heading</h5>
          Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus
          odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate
          fringilla. Donec lacinia congue felis in faucibus.
        </div>
      </div>
    </div>
    <div class="row">
      <div class="media col-sm-12 col-md-12 col-lg-6">
        <div class="img5 d-flex mr-3"></div>
        <div class="media-body">
          <h5 class="mt-0 font-weight-bold">Media heading</h5>
          Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus
          odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate
          fringilla. Donec lacinia congue felis in faucibus.
        </div>
      </div>
      <div class="media col-sm-12 col-md-12 col-lg-6">
        <div class="img6 d-flex mr-3"></div>
        <div class="media-body">
          <h5 class="mt-0 font-weight-bold">Media heading</h5>
          Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus
          odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate
          fringilla. Donec lacinia congue felis in faucibus.
        </div>
      </div>
    </div>
  </div>
</div>

<div class="endpage container-fluid">
  <div class="endX row col-sm-4 ">
    <a href="#">
      <img src="assets/logonav.png" alt="logo-pharmacy">
      Pharmacy
    </a>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam similique quis rerum ut ipsum corporis
      adipisci perspiciatis libero ab inventore omnis fugiat ex, laboriosam impedit ipsam minima est magnam
      necessitatibus.</p>
  </div>
  <div class="contactX row col-sm-4 ">
    <h3>Contact</h3>
    <h6>Email: dinaaid3@gmail.com</h6>
    <h6>Phone: 01270011692</h6>
  </div>
  <div class="linkX row col-sm-4 ">
    <h3>Usefull Links</h3>
    <ul>
      <li><a href="">Home</a></li>
      <li> <a href="index.html#our">Our Services</a></li>
      <li> <a href="news.html">Medicines Lists</a></li>
      <li> <a href="">Contact Us</a></li>
      <li> <a href="signin.html">Sing In</a></li>
    </ul>
  </div>
</div>

<footer>
  &copy; all rights reserved Dina 2019
</footer>